/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

/* Contenedor del formulario dentro de una tarjeta */
.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

/* Título dentro de la tarjeta */
.card h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para el input de archivo */
input[type="file"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.boton{
    background-color: #f1f1f1;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

/* Estilo para el enlace "Volver" */
a.volver {
    display: inline-block;
    position: absolute;
    top: 20px; /* Fijarlo en la parte superior */
    left: 20px; /* Fijarlo en la esquina izquierda */
    z-index: 10; /* Asegura que el botón se mantenga encima del contenido */
}

a.boton:hover {
    background-color: #007BFF;
    color: white;
}