/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

/* Estilo para el formulario */
.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

/* Estilo para los campos del formulario */
.login-form input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}

.login-form input:focus,
.login-form button:focus {
    outline: none;
    border-color: #0056b3;
}

/* Estilo para el botón de login */
.login-button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Estilo para mostrar los errores del formulario */
.error-messages {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
